<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <base href="https://bwof.github.io/bwof/">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
    </header>
    <nav class="page-header nav-bar">
      <a href="." class="btn">Home</a>
      <a href="services" class="btn">Services</a>
      <a href="about_us" class="btn">About Us</a>
      <a href="our_team" class="btn">Our Team</a>
      <a href="contact_us" class="btn">Contact Us</a>
    </nav>
    <main id="content" class="main-content" role="main">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {{ content }}
      <footer class="site-footer">
        <dl>
          <dt>Ravi</dt>
          <dd><a href="tel:0221992963>021 199 2963</a></dd>
          <dt>Email</dt>
          <dd><a href="mailto:ravi@bwofc.co.nz">ravi@bwofc.co.nz</a></dd>
          <dt>Phone></dt>
          <dd><a href:"tel:04 213 4963">04 213 4963</a></dd>
        </dl>
      </footer>
    </main>
  </body>
</html>
