<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <base href="https://bwof.github.io/bwof/">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
    </header>
    <main id="content" class="main-content" role="main">
      <nav class="nav-bar">
        <a href="." class="btn">Home</a>
        <a href="services" class="btn">Services</a>
        <a href="about_us" class="btn">About Us</a>
        <a href="our_team" class="btn">Our Team</a>
        <a href="contact_us" class="btn">Contact Us</a>
      </nav>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {{ content }}
      <footer class="site-footer">
        <div class="container justify-content-center">
          <div class="row">
            <div class="col"><a href=".">Home</a></td>
            <div class="col"><a href="services">Services</a></td>
            <div class="col"><a href="about_us">About Us</a></td>
            <div class="col"><a href="our_team">Our Team</a></td>
            <div class="col"><a href="contact_us">Contact Us</a></td>
          </div>
          <div class="row">
            <div class="col">
              <dl>
                <dt>Ravi</dt>
                <dd><a href="tel:0221992963">021 199 2963</a></dd>
              </dl>
            </div>
            <div class="col">
              <dl>
                <dt>Email</dt>
                <dd><a href="mailto:ravi@bwofc.co.nz">ravi@bwofc.co.nz</a></dd>
              </dl>
            </div>
            <div class="col">
              <dl>
                <dt>Phone</dt>
                <dd><a href="tel:042134963">04 213 4963</a></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col">Copyright © 2020 BWOF Consultants Ltd</div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
